*{
    margin:0px;
    padding:0px;
    text-decoration: none;
}

.main{
    background: linear-gradient(to top , rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(sour-j8Ydt-FP5rU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.sun{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.39);
    background:linear-gradient(to top , rgb(255, 255, 0.5) ,rgb(255, 165, 0.5));
    height: 400px;
    width: 400px;
    transform: translate(460px ,110px);
    border-radius: 500px;
    box-shadow: 0px 0px 45px whitesmoke;
}
/*
.lines{
    list-style-type: none;
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 45px whitesmoke;
}
*/

.nav-bar{
    float:right;
    padding: 20px 30px;

}

.list1{
    display: inline-block;
    padding : 10px 20px;
    border: 1px solid white;
    border-radius: 10px;
    
    
}
.list1 a{
    color:green;
}
#active{
    background-color: aliceblue;
}
.list1:hover{
    background-color: white;
    color: black;
}
.T1{
    color:rgba(0, 0, 0, 0.356);
    border: 2px solid rgba(255, 255, 255, 0.438);
    margin-top: -130px;
    margin-left: 50px;
    font-size: 60px;
    font-family: century;
    text-shadow: 10px 15px 20px orange , -10px -15px 20px yellow;
    width:1280px;
}
.T2{
    position: absolute;
    color:rgba(0, 0, 0, 0.356);
    border: 2px solid rgba(255, 255, 254, 0.438);
    top: 160px;
    left: 150px;
    font-size: 60px;
    font-family: century;
    width:720px;
}
.T3{
    color:rgba(0, 0, 0, 0.356);
    margin-top: -70px;
    margin-left: 880px;
    font-size: 60px;
    font-family: century;
    text-shadow: 10px 15px 20px orange , -10px -15px 20px yellow;
}
.T4{
    color:rgba(0, 0, 0, 0.356);
    border: 2px solid rgba(255, 255, 255, 0.438);
    margin-top: 180px;
    margin-left: 490px;
    font-size: 60px;
    font-family: century;
    text-shadow: 10px 15px 20px orange , -10px -15px 20px yellow;
    width:350px;
}

#lin{
    background-color: rgba(255, 255, 255, 0.288);
}

#sup{
    background-color: rgba(0, 0, 255, 0.664);
}

#lin a{
    font-weight: bold;
}

#lin:hover{
    background-color: white;
}

#sup a{
    font-weight: bold;
}
#sup:hover{
    background-color: white;
}
