body{
    background:linear-gradient(to top ,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(enfocus-collective-78-DV905ZcA-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
#log{
    display:flex;
    background:linear-gradient(to top ,lab(0% 0 0 / 0.479) ,rgba(133, 134, 134, 0.452));
    width: 550px;
    height: 300px;
    position: relative;
    top:50px;
    left:400px;
    border-radius: 20px;
    box-shadow: 3px 4px 40px grey , 4px 3px 40px grey;

}
#hd{
    font-size: 90px;
    color: aliceblue;
    text-shadow: 0px 16px 40px orange, 0px -16px 30px red;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
#gj{
    position: absolute;
    top:90px;
    left:70px;
}
#ps{
    position: absolute;
    top:160px;
    left:70px;
    
}
#ust{
    font-size:30px;
    margin-left: 110px;
    
}
#username{
     width:400px;
     margin-left: 0px;
     height: 35px;
     border-radius: 5px;
     background-color: rgba(0, 0, 0, 0.336);
     border-style: none;
     color:white;
     
}
#pst{
    font-size:30px;
    margin-left: 110px;
}
#password{
     width:400px;
     margin-left: 0px;
     height: 35px;
     border-radius: 5px;
     background-color: rgba(0, 0, 0, 0.336);
     border-style: none;
     color:white;
}
#fgp{
    position: absolute;
    top:270px;
    left:15px; 
}
#sup{
    position: absolute;
    top:270px;
    left:480px;
}
#fp{
    font-size: 18px;
    color:blue;
    text-decoration: none;
}
#fp:hover{
    color: white;
}
#sp{
    font-size: 18px;
    color:blue;
     text-decoration: none;
}
#sp:hover{
    color:white;
}
#lin{
    position: absolute;
    top:230px;
    left:220px;
    
}
#in{
    border-radius: 4px;
    width: 100px;
    height: 30px;
    background-color: grey;
}
#in:hover{
    color:white;
    background-color: lightgrey;

}